@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #dff1e8;
}

hr {
    border: none;
    outline: none;
    height: 3px;
    background: #349c68;
}

/* START NAVBAR AREA */
nav {
    background: #31b573;
    color: #fff;
    padding: 0 80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav-area {
    height: 80px;
    display: flex;
    align-items: center;
}

.logo {
    width: 15%;
    float: left;
}
.list {
    width: 75%;
    float: left;
    text-align: right;
}
.profile {
    width: 10%;
    float: left;
    text-align: right;
}

li {
    font-size: 20px;
    margin-right: 30px;
    list-style: none;
    display: inline-block;
}

li a {
    color: #fff;
    text-decoration: none;
}

li a:hover {
    color: #22ff90;
    text-decoration: none;
}

.profile img {
    cursor: pointer;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.logo img {
    cursor: pointer;
    width: 100px;
}
.active {
    border-bottom: 3px solid #fff;
}

.mobile-menu-btn {
    font-size: 35px;
    display: none;
}
/* END NAVBAR AREA */


/* Start Sidebar Area */ 
.sidebar {
    background: #e3f0e9;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 999;
    width: 400px;
    padding: 30px;
    display: none;
}
.close-btn {
    text-align: right;text-align: right;
    margin-bottom: 40px;
}
.close-btn i {
    cursor: pointer;
    font-size: 30px;
    padding: 5px 8px;
    color: #31b573;
}

h2 {
    font-weight: 600;
}

p {
    font-size: 17px;
    margin-top: 10px;
}
p i {
    margin-right: 10px;
}

/* .contents {
    display: none;
} */

.contents-2 {
    display: none;
}

.pages-mobile {
    display: none;
}

.sidebar img {
    width: 45px;
}

.contents button, .contents-2 button {
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
    font-size: 17px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    background: #31B573;
}
.contents button:hover, .contents-2 button:hover {
    color: #fff;
    background: #349c68;
}
/* End Sidebar Area */ 

h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

.container h2 {
    text-align: center;
    font-weight: 400;
}

a {
    cursor: pointer;
    color: #31b573;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: #fff;
    width: 550px;
    padding: 30px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1000px;
}

.left, .right {
    width: 50%;
    float: left;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

.btn {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border-radius: 6px;
    margin-bottom: 0;
    cursor: pointer;
    background: #31b573;
    color: #ffffff;
    border: none;
    outline: none;
}

.btn:hover {
    background: #349c68;
}


/* Responsive Design */
@media only screen and (max-width: 1030px) {
    .logo {
        width: 10%;
    }
    .list {
        width: 85%;
    }
    .profile {
        width: 5%;
    }
}
@media only screen and (max-width: 960px) {
    .list {
        display: none;
    }
    .logo {
        width: 50%;
    }
    .profile {
        display: none;
    }
    .mobile-menu-btn {
        display: block;
        width: 50%;
        float: left;
        text-align: right;
    }
    .contents button,
    .contents-2 button {
        background: none;
        color: #000000;
        text-align: left;
        font-size: 20px;
    }
    .sidebar hr {
        background: #31B573;
        height: 1px;
        border: none;
    }
    .pages-mobile {
        display: block;
    }
    .contents p:nth-child(2),
    .contents p:nth-child(3) {
        display: none;
    }
}
@media only screen and (max-width: 770px) {
    nav {
        padding: 0 40px;
    }
}
@media only screen and (max-width: 600px) {
    .card {
        width: 450px;
    }
    .full-area {
        width: 100%;
        margin-bottom: 25PX;
    }
}
@media only screen and (max-width: 500px) {
    .card {
        border-radius: 0px;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 18px;
    }
}
@media only screen and (max-width: 400px) {
    .sidebar {
        width: auto;
        padding: 15px;
    }
}