@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #eff5f2;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
h2 {
    font-weight: 400;;
}

h4 {
    font-size: 18px;
    font-weight: 600;
}

.container p {
    color: #747474;
}

/* START NAVBAR AREA */
nav {
    background: #31b573;
    color: #fff;
    padding: 0 80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav-area {
    height: 80px;
    display: flex;
    align-items: center;
}

.logo {
    width: 15%;
    float: left;
}
.list {
    width: 75%;
    float: left;
    text-align: right;
}
.profile {
    width: 10%;
    float: left;
    text-align: right;
}

li {
    font-size: 20px;
    margin-right: 30px;
    list-style: none;
    display: inline-block;
}

li a {
    color: #fff;
    text-decoration: none;
}

li a:hover {
    color: #22ff90;
    text-decoration: none;
}

.profile img {
    cursor: pointer;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.logo img {
    cursor: pointer;
    width: 100px;
}
.active {
    border-bottom: 3px solid #fff;
}

.mobile-menu-btn {
    font-size: 35px;
    display: none;
}
/* END NAVBAR AREA */


/* Start Sidebar Area */ 
.sidebar {
    background: #e3f0e9;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 999;
    width: 400px;
    padding: 30px;
    display: none;
}
.close-btn {
    text-align: right;text-align: right;
    margin-bottom: 40px;
}
.close-btn i {
    cursor: pointer;
    font-size: 30px;
    padding: 5px 8px;
    color: #31b573;
}

h2 {
    font-weight: 600;
}

p {
    font-size: 17px;
    margin-top: 10px;
}
p i {
    margin-right: 10px;
}

/* .contents {
    display: none;
} */

.contents-2 {
    display: none;
}

.pages-mobile {
    display: none;
}

.sidebar img {
    width: 45px;
}

.contents button, .contents-2 button {
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
    font-size: 17px;
    color: #fff;
    background: #31b573;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    background: #31B573;
}
.contents button:hover, .contents-2 button:hover {
    color: #fff;
    background: #349c68;
}
/* End Sidebar Area */ 


.container {
    margin-bottom: 40px;
}

.card {
    margin: auto;
    margin-top: 30px;
    background: #fff;
    width: 1000px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 15px;
    display: flex;
}
.card-2 {
    margin: auto;
    width: 1000px;
    padding: 30px;
    display: flex;
    align-items: end;
    margin-top: 20px;
}

/* Layout */
.col-3 {
    width: 33.33%;
    float: left;
}

.col-5 {
    width: 20%;
    float: left;
}

.btn {
    cursor: pointer;
    background: #31b573;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 17px;
    border-radius: 6px;
    border: none;
    outline: none;
}
.btn-align {
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn-2 {
    padding: 10px 20px;
    border-radius: 30px;
}
.btn-btm {
    text-align: center;
    display: none;
}
.mdf-btn {
    display: none;
}

.btn:hover {
    background: #349c68;
}

/* Responsive Design */
@media only screen and (max-width: 1040px) {
    .card {
        width: 900px;
        text-align: center;
    }
    .card-2 {
        width: 900px;
    }
    .logo {
        width: 10%;
    }
    .list {
        width: 85%;
    }
    .profile {
        width: 5%;
    }
}
@media only screen and (max-width: 960px) {
    .card, .card-2 {
        width: 800px;
    }
    .card .btn {
        padding: 10px;
    }
    .list {
        display: none;
    }
    .logo {
        width: 50%;
    }
    .profile {
        display: none;
    }
    .mobile-menu-btn {
        display: block;
        width: 50%;
        float: left;
        text-align: right;
    }
    .contents button,
    .contents-2 button {
        background: none;
        color: #000000;
        text-align: left;
        font-size: 20px;
    }
    hr {
        background: #31B573;
        height: 1px;
        border: none;
    }
    .pages-mobile {
        display: block;
    }
    .contents p:nth-child(2),
    .contents p:nth-child(3) {
        display: none;
    }
}
@media only screen and (max-width: 840px) {
    .card, .card-2 {
        width: 700px;
    }
    .card h3 {
        font-size: 17px;
    }
    .card p {
        font-size: 14px;
    }
    .container h4 {
        font-size: 15px;
    }
    .container h2 {
        font-size: 20px;
    }
    .btn-right-align {
        text-align: right;
    }
}

@media only screen and (max-width: 740px) {
    .card, .card-2 {
        width: 600px;
    }
    .card .btn {
        font-size: 15px;
        padding: 5px;
    }
    nav {
        padding: 0 40px;
    }
}
@media only screen and (max-width: 620px) {
    .card, .card-2 {
        width: 500px;
        padding: 15px;
    }
    .card-2 .btn-2 {
        font-size: 15px;
        padding: 10px;
        border-radius: 10px;
    }
    .card h3 {
        font-size: 15px;
    }
    .card p {
        font-size: 12px;
    }
    .container h4 {
        font-size: 13px;
    }
    .container h2 {
        font-size: 16px;
    }
}
@media only screen and (max-width: 520px) {
    .card, .card-2 {
        width: 400px;
        padding: 15px;
        border-radius: 0;
    }

    .container h4 {
        font-size: 12px;
    }
    .container h2 {
        font-size: 13px;
    }
    .card-2 .btn-2 {
        font-size: 14px;
        border-radius: 0;
    }

    .col-5 {
        width: 25%;
    }
    .btn-align {
        display: none;
    }
    .btn-btm {
        display: block;
    }
    .btn-btm .btn {
        font-size: 15px;
        width: 400px;
        border-radius: 0;
    }
}    

@media only screen and (max-width: 400px) {
    .col-3 {
        width: 50%;
    }
    .card-2 .btn-right-align {
        display: none;
    }
    .mdf-btn {
        display: block;
    }
    .mdf-btn .btn-2 {
        font-size: 14px;
        margin-left: 15px;
    }
    .card, .card-2 {
        width: auto;
    }
    .btn-btm .btn {
        width: 100%;
    }
    .sidebar {
        width: auto;
        padding: 15px;
    }
}
/* @media only screen and (max-width: 387px) {
    .card-2 .btn-2 {
        padding: 5px;
        border-radius: 5px;
    }
} */

